body {
  background-color: #000000;
  text-align: center;
  color: white;
  font-family: craft;
}
div {
  border-style: dotted;
  border-color: #FFFFFF;
  background-color:#000000;
  border-width: medium;
}
@font-face {
font-family: 'craft';
src: url('/fonts/mcfont.ttf')
}
p {
  text-align: center;
  font-size: 35px;
  margin-top: 0px;
}
center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.bouncing {
    display: inline-block;
    animation: bounce 5s infinite;
}
